dist
node_modules
postgres-data
# ignore the csv dataset folders and its data
/src/database/csvtest/
/src/database/data/

# dotenv environment variables file
.env
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
